# System Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# Node.js / Frontend
node_modules/
dist/
dist-ssr/
coverage/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sui / Move
build/
**/build/
Move.lock

# Backend / General
logs/
*.log
tmp/
